.img_properties {
 
  height: 370px;
  margin: 31px 116px 113px 42px;
  border-radius: 8px 8px 8px 8px;
}
.Sunspots_Freckle_Removal {
  width: 320px;
  height: 33px;
  font-family: Poppins;
  font-size: 24px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #171313;
}
.sunspots_details {
  width: 401px;
  height: 104px;
  margin: 20px 0 40px;
  font-family: Poppins;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #787878;
}
.sunspot_price {
  width: 122px;
  height: 49px;
  margin: 0 0 5px;
  font-family: Poppins;
  font-size: 35px;
  font-weight: 600;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: left;
  color: #4a4a4a;
}
.minutes {
  font-family: Poppins;
  font-size: 16px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;

  color: #4a4a4a;
  margin-left: 7px;
}
.button_container {
  display: flex;
  justify-content: left;
}

.book {
  margin-right: 10px;
  height: 40px;
  padding: 7px 21px;
  opacity: 0.5;
  border-radius: 8px;
  border: solid 1px #db0406;
  color: #db0406;
  background-color: white;
}

.consultation {
margin-right: 10px;
  cursor: pointer;
  height: 40px;
  padding: 7px 15px;
  border-radius: 7px;
  background-color: #fce5e5;
  border: none;
  color: #db0406;
}

.icon {
  margin-right: 10px;
  cursor: pointer;

  padding: 7px 15px;
  border-radius: 7px;
  background-color: #f5f5f5;
  border: none;
  color: #4a4a4a;
}


@media only screen and (max-width: 600px) {
 .button_container{
       width: 50%;

 }

 .sunspots_details{
   
    width: 95%;
    
 }
}